<div class = "col">
<% @ideas.each do |idea| %>
          <div class="container">
          <div class="idea-container"> 
         
              <h3><%= idea.title %></h3>
                
              </h3>
             
              <div class="idea-description">
              <h4 >
                <%= idea.description %>
              </h4>
              
              </div>
              <div class="d-flex justify-content-between">
                <h4><%= link_to "By #{idea.user.name}", idea_path(idea) %></h4> 
              <button type="button" class="btn btn-light">Joined</button>
              <button type="button" class="btn btn-light">Like</button>
              
                <h4>Members: 5 | Likes: 5</h4>
              
              </div>
          </div>    
          </div>
         
        
  <% end %>

  </div>